@import "../../../../styles/variables";

.user-title {
  margin: 0 0 20px;
}

.header {
  margin: -1em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;

  .verified-icon {
    color: $primary;
  }

  app-user-avatar::ng-deep {
    margin-right: 1em;
    margin-bottom: 1em;
    height: 200px;

    app-image .image {
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
  }

  .mat-h2 {
    color: $color-light-grey;
  }
}

.content {
  display: flex;
  flex-wrap: wrap-reverse;
  padding-top: 1em;
  margin: 0 -1em;

  .tab-container {
    padding-top: 1em;

    .post {
      padding-bottom: 2em;
    }
  }
}

article {
  min-width: 300px;
  flex: 1;
}

.support-button {
  width: 96px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.follow-button {
  width: 96px;
}


.posts {
  flex: 5;
  min-width: 328px;
  margin: 0 1em;
}

.stats {
  min-width: 200px;
  flex: 1;
  padding-top: 8px;
  margin: 0 1em;

  .edit-button {
    width: 100%;
    margin-bottom: 1em;
  }
}

.supporters {

  padding-top: 12px;
  color: #999;

  .avatars {
    display: flex;
    flex-wrap: wrap;

    .thumb {
      cursor: pointer;
      margin-right: 7px;
      margin-bottom: 7px;
    }
  }

}

.following {
  background-color: rgba($primary, 0.2);
}
